/* You can add global styles to this file, and also import other style files */
::ng-deep .popover {
    z-index: 9999;
}

ngb-popover-window {
  background: #eee;
  border-radius: 12px;
  padding: 8px;
}
